<%= form_with model: [@article, @article.comments.build], class: "container" do |form| %>
  <div class="mb-3">
    <%= form.label :commenter, "Author", class: "form-label" %><br>
    <%= form.text_field :commenter, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, Visible::VALID_STATUSES, { prompt: "Select Status" }, class: "form-select" %>
  </div>

  <div>
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
